version: "3.9"

services:
  postgres:
    image: postgres:14
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: AIS_Local
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: demo
    ports:
      - "5433:5432"
    networks:
      - aisnetwork
    volumes:
      - pgdata:/var/lib/postgresql/data
    

  zeebe:
    image: camunda/zeebe:8.5.3
    container_name: zeebe
    restart: always
    ports:
      - "26500:26500"
    environment:
      ZEEBE_BROKER_NETWORK_HOST: 0.0.0.0
      ZEEBE_BROKER_GATEWAY_ENABLE: "true"
      ZEEBE_BROKER_GATEWAY_NETWORK_HOST: 0.0.0.0
    volumes:
      - zeebe-data:/usr/local/zeebe/data
    networks:
      - aisnetwork
 


  ais-backend:
    container_name: ais-backend
    build:
      context: ../backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8990:8989"
    networks:
      - aisnetwork
    depends_on:
      - postgres
      - zeebe
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/AIS_Local
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: demo
      ZEEBE_CLIENT_BROKER_GATEWAY_ADDRESS: zeebe:26500

volumes:
  pgdata:
  zeebe-data:

networks:
  aisnetwork:
    driver: bridge
