name: CI-CD Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            echo "Connected to EC2"

            # Install Docker if missing
            if ! command -v docker >/dev/null 2>&1; then
              sudo apt update
              sudo apt install -y docker.io docker-compose
              sudo systemctl start docker
              sudo systemctl enable docker
              sudo usermod -aG docker ubuntu
            fi

            cd /home/ubuntu

            # Clone repo if missing
            if [ ! -d "zeebe-docker" ]; then
              git clone https://github.com/Karthikkona2222/zeebe-docker.git
            fi

            cd zeebe-docker
            git pull origin main

            cd docker
            docker-compose down || true
            docker-compose build
            docker-compose up -d

            echo "Deployment successful"
