name: CI/CD Deploy to QA

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy on QA server
        run: |
          set -e
          whoami
          hostname

          cd /home/karthik

          if [ ! -d "Zeebe-docker" ]; then
            git clone https://github.com/Karthikkona2222/Zeebe-docker.git
          fi

          cd Zeebe-docker
          git pull origin main

          cd docker
          docker compose down || true
          docker compose build
          docker compose up -d
