name: CI-CD Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          timeout: 60s
          command_timeout: 15m
          script: |
            set -e
            cd /home/ubuntu

            if [ ! -d "zeebe-docker" ]; then
              git clone https://github.com/Karthikkona2222/zeebe-docker.git
            fi

            cd zeebe-docker/docker
            git pull origin main

            docker compose down || true
            docker compose build
            docker compose up -d
